swagger: '2.0'
info:
  title: Mule Shell API
  version: "1.0.0"
# the domain of the service
host: com.stackoverflow
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /
consumes:
  - application/json
produces:
  - application/json
paths:
  /account/login:
    post:
      operationId: login
      summary: 'Login point.'
      parameters:
        - name: authorization
          in: header
          type: array
          items:
            $ref: JsonString
        - name: role
          in: query
          type: string
      responses:
        200:
          summary: 'Successful login'
          schema:
            $ref: '#/definitions/JsonWebToken'
        401:
          summary: 'Unauthorized login attempt'

  /account/logout:
    post:
      summary: 'Logout point.'
      operationId: logout
      parameters:
        - name: body
          description: BasicAccount
          in: body
          schema:
            $ref: '#/definitions/BasicAccount'
          required: true
      responses:
        200:
          summary: 'Successful logout'
          type: string
        401:
          summary: 'Unauthorized logout attempt'

  /session:
    get:
      operationId: newSession
      responses:
        200:
          schema:
            type: object
            $ref: '#/definitions/Session'

  /session/list:
    get:
      operationId: getSessionList
      responses:
        200:
          schema:
            type: array
            items:
              $ref: '#/definitions/Session'

  /session/{id}:
    get:
      operationId: getSession
      parameters:
        - name: id
          in: path
          type: string
        - name: tz
          in: query
          type: string
          required: false
      responses:
        200:
          schema:
            type: object
            $ref: '#/definitions/Session'
        401:
          summary: 'Unauthorized session retrieval'

  /session/snippet:
    get:
      operationId: getSessionSnippetArray
      description: Retrieves all the snippets for the session.
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
        - name: snippetId
          in: query
          type: string
          requied: false
      responses:
        200:
          summary: 'Successfully retrieved session snippets.'
          schema:
            type: array
            $ref: '#/definitions/Snippet'

  /session/import:
    get:
      operationId: getSessionImportArray
      description: Retrieves the import snippets for the session.
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
      responses:
        200:
          summary: 'Successfully retrieved import snippet(s).'
          schema:
            type: array
            $ref: '#/definitions/ImportSnippet'

  /session/variable:
    get:
      operationId: getSessionVariableArray
      description: Retrieves the variable snippets for the session.
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
        - name: variableName
          in: query
          type: string
          requied: false
      responses:
        200:
          summary: 'Successfully retrieved variable snippet(s).'
          schema:
            type: array
            $ref: '#/definitions/VariableSnippet'

  /session/method:
    get:
      operationId: getSessionMethodArray
      description: Retrieves the method snippets for the session.
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
        - name: methodName
          in: query
          type: string
          requied: false
      responses:
        200:
          summary: 'Successfully retrieved method snippet(s).'
          schema:
            type: array
            $ref: '#/definitions/MethodSnippet'

  /session/type:
    get:
      operationId: getSessionTypeArray
      description: Retrieves the type declaration snippets for the session.
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
        - name: typeName
          in: query
          type: string
          requied: false
      responses:
        200:
          summary: 'Successfully retrieved all session snippets.'
          schema:
            type: array
            $ref: '#/definitions/TypeSnippet'

  /expression:
    post:
      operationId: postExpression
      parameters:
        - name: sessionId
          in: query
          type: string
          required: true
        - name: expression
          description: Expression
          in: body
          schema:
            $ref: '#/definitions/Expression'
          required: true
        - name: expressionType
          in: query
          type: string
          default: 'expression'
          required: true
      responses:
        200:
          description:
          schema:
            $ref: '#/definitions/ExpressionResult'

definitions:
  JsonString:
    type: string

  System:
    type: object
    properties:
      type:
        type: string
      version:
        type: string
        
  JsonWebToken:
    type: object
    properties:
      token:
        type: string

  BasicAccount:
    type: object
    description: 'BasicAccount'
    properties:
      sessionId:
        type: string
      username:
        type: string

  Role:
    type: string
    enum:
      - admin
      - client
      - guest
      - register
      - system

  AccountRole:
    type: object
    properties:
      account:
        schema: '#/definitions/BasicAccount'
      role:
        schmea: '#/definitions/Role'

  Expression:
    type: object
    properties:
      input:
        type: string

  ExpressionResult:
    type: object
    properties:
      input:
        type: string
      output:
        type: array
        items:
          $ref: '#/definitions/Snippet'
      continuation:
        type: boolean
      remainingCode:
        type: string
      error:
        type: string

  Session:
    type: object
    properties:
      id:
        type: string
        format: uuid
      system:
        $ref: '#/definitions/System'
      createdAt:
        type: string
        format: date-time
      suspendedAt:
        type: string
        format: date-time
      closedAt:
        type: string
        format: date-time

  SnippetType:
    type: string
    enum:
      - console
      - error
      - expression
      - import
      - method
      - other
      - statement
      - type
      - variable

  SnippetStatus:
    type: string
    enum:
      - dropped
      - nonexistent
      - overwritten
      - recoverable_defined
      - recoverable_not_defined
      - rejected
      - valid

  Snippet:
    type: object
    description: 'Generic Snippet'
    properties:
      type:
        $ref: '#/definitions/SnippetType'
      id:
        type: string
      status:
        $ref: '#/definitions/SnippetStatus'
      name:
        type: string
      fullName:
        type: string
      signature:
        type: string
      source:
        type: string
      typeName:
        type: string
      value:
        type: string
      error:
        type: string
      diagnostic:
        type: array
        items:
          $ref: '#/definitions/Diagnostic'
      exception:
        type: string
      stacktrace:
        type: array
        items:
          $ref: '#/definitions/StackTraceElement'

  ImportSnippet:
    type: object
    properties:
      id:
        type: string
      status:
        $ref: '#/definitions/SnippetStatus'
      name:
        type: string
      fullName:
        type: string
      source:
        type: string

  VariableSnippet:
    type: object
    properties:
      id:
        type: string
      status:
        $ref: '#/definitions/SnippetStatus'
      name:
        type: string
      typeName:
        type: string
      source:
        type: string
      value:
        type: string

  MethodSnippet:
    type: object
    properties:
      id:
        type: string
      status:
        $ref: '#/definitions/SnippetStatus'
      name:
        type: string
      typeName:
        type: string
      signature:
        type: string
      source:
        type: string

  TypeSnippet:
    type: object
    description: 'Type Declaration Snippet'
    properties:
      id:
        type: string
      status:
        $ref: '#/definitions/SnippetStatus'
      name:
        type: string
      fullName:
        type: string
      signature:
        type: string
      source:
        type: string
      value:
        type: string

  Diagnostic:
    type: object
    properties:
      input:
        type: string
      message:
        type: string
      local:
        type: string
      position:
        type: string
      start:
        type: string
      end:
        type: string

  StackTraceElement:
    type: object
    properties:
      line:
        type: string
